<div class="errorPage">
    <div class="row">
        <div class="col">
            <img src="/img/hackermon.png" height="450px" width="440pxs">
        </div>
        <div class="col">
            <h1>{{message}}</h1>
            <h2>{{error.status}}</h2>
            <!--<pre>{{error.stack}}</pre>-->
        </div>
    </div>
</div>

