body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.emptyblock {
  height: 10em;
}

.header {
  background-image: url("../img/Cinnamint.jpg");
  background-size: cover;
  padding: 190px 0px 120px 0px;
  opacity: 50%;
  z-index: -2;
  font-family: 'Roboto', sans-serif;
}

.headersignup {
  background-color: white;
  padding: 2em;
  border-radius: 4px;
}

.headertext {
  padding: 8em;
  color: #ffff;
}

.errorPage {
  margin-left: 15%;
  padding: 10%;
}

.carousel-inner > .item > img {
  width:450px;
  height:420px;
}
