body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.emptyblock {
  height: 10em;
}

.header {
  background-image: url("../img/Cinnamint.jpg");
  background-size: cover;
  padding: 190px 0px 120px 0px;
  opacity: 50%;
  z-index: -2;
  font-family: 'Roboto', sans-serif;
}

.headersignup {
  background-color: white;
  padding: 2em;
  border-radius: 4px;
}

.headertext {
  padding: 8em;
  color: #ffff;
}

.errorPage {
  margin-left: 15%;
  padding: 10%;
}

.carousel-inner > .item > img {
  width:450px;
  height:420px;
}

.itemList {
  margin: 5em;
}

#fileBox {
  margin-top: 2em;
}

.hr-lable {
  position: relative;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  clear: both;
  overflow: hidden;
}

.hr-lable::before {
  content: '';
  position: relative;
  width: 25%;
  background-color: rgba(0,0,0,0.2);
  display: inline-block;
  height: 1px;
  vertical-align: middle;
}

.hr-lable::after {
  content: '';
  position: relative;
  width: 25%;
  background-color: rgba(0,0,0,0.2);
  display: inline-block;
  height: 1px;
  vertical-align: middle;
}

.auth-google {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-image: url(/img/googleLogo.svg);
  background-color: #4285f4;
  position: relative;
  padding: 8px 0;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.auth-google::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 36px;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-color: #2265d4;
}

.history {
  overflow-y: scroll;
  height: 200px;
}

.list-group-item {
  margin-top: 2em;
}

.midScreenButton {
  margin-bottom: 2em;
  margin-left: 4.5em;
}

.recipes {
  margin-top: 2em;
  margin-left: 10em;
  overflow-y: scroll;
  height: 50%;
  width: 75%;
}

.shoppingList {
  height: 50%;
  margin-top: 10em;
}

.recipe-heading {
  margin-left: 6em;
  margin-top: 3em;
}

.hr-lable2 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
}

.hr-lable2::before {
  content: '';
  position: relative;
  width: 25%;
  background-color: rgba(0,0,0,0.2);
  display: inline-block;
  height: 1px;
  vertical-align: middle;
}

.hr-lable2::after {
  content: '';
  position: relative;
  width: 25%;
  background-color: rgba(0,0,0,0.2);
  display: inline-block;
  height: 1px;
  vertical-align: middle;
}