body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.emptyblock {
  height: 10em;
}

.responsive {
  height: auto;
  width: 100%;
}

.header {
  background-image: url("../img/Cinnamint.jpg");
  background-size: cover;
  padding: 190px 0px 120px 0px;
  opacity: 50%;
  z-index: -2;
  font-family: 'Roboto', sans-serif;
}

.headersignup {
  background-color: white;
  padding: 2em;
  border-radius: 4px;
}

.headertext {
  padding: 8em;
  color: #ffff;
}

@media screen and (max-width: 1200px) {
    .headersignup  {
        margin-left: 20%;
    }
}